{% extends "base.html" %}

{% block title %}Home
{% endblock title %}

{% block body %}
<div class="container-fluid">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1516159754081-f01c990481dd?crop=entropy&cs=srgb&fm=jpg&ixid=M3w2OTcxNDV8MHwxfHNlYXJjaHw1fHxjYXJkJTIwc3dpcGUlMjBtYWNoaW5lfGVufDB8fHx8MTczNzM3NzUyMnww&ixlib=rb-4.0.3&q=85">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1619505372149-07875c35b313?crop=entropy&cs=srgb&fm=jpg&ixid=M3w2OTcxNDV8MHwxfHNlYXJjaHw5fHxjYXJkJTIwc3dpcGUlMjBtYWNoaW5lfGVufDB8fHx8MTczNzM3NzUyMnww&ixlib=rb-4.0.3&q=85">
      </div>
      <div class="carousel-item">
        <img src="https://thumbs.dreamstime.com/b/closeup-woman-using-credit-card-swiping-machine-to-payment-223465675.jpg">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div></div>  
{% endblock body %}

